.home-container {
 
    padding: 10px; 
    margin: 0; 
  }
  .carousel_infoCard-container{
    display: flex;
    justify-content: space-evenly;
  }
  .info-container1{
    height: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;  
    padding: 30px;
    color: blanchedalmond;
    background-color: black;
    max-width: 15%; 
    white-space: pre-line;
    float: left;
    line-height: 1.5;
  }
  .info-container2 {
    height: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;  
    padding: 30px;
    color: blanchedalmond;
    background-color: black;
    max-width: 15%; 
    white-space: pre-line;
    float: left;
    line-height: 1.5;
   
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .info-container2 {
      font-size: 0.8em; 
      max-width: 90vw; 
    }
  }
  
  @media (max-width: 480px) {
    .info-container2 {
      font-size: 0.7em;  
      max-width: 95vw;  
    }
  }
  
  
  .home-section {
    text-align: center; 
    margin-top: 10px; 
  }
  
  .home-section h2 {
    font-size: 1.5em; 
    color: #1976d2; 
  }
  
  .home-section p {
    font-size: 1em; 
    line-height: 1.5; 
  }
  