.navbar {
    position: sticky; 
    top: 0;
    background-color: black; 
    z-Index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px; 
  }
  
  .nav-item {
    padding: 10px; 
  }
  
  .nav-link {
    color: blanchedalmond; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s; 
  }
  
  .nav-link:hover {
    color: #1976d2; 
  }
  